.ball {
    color: black;
    display: inline-block;
    line-height: 20px;
    font-size: 40px;
    padding: 50px;
    width: 50px;
    margin: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid white;
}